body {
}

.container {
  display: flex;
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  align-items: center;
}

/* navigation */
.navigation {
  display: flex;
  padding: 24px 42px;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  row-gap: 24px;
  align-self: stretch;
  flex-wrap: wrap;
}

.menu {
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 24px;
}

/* bagian header */
.header {
  display: flex;
  padding: 42px 24px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 42px 68px;
  align-self: stretch;
  flex-wrap: wrap;
}

.header-content {
  display: flex;
  min-width: 320px;
  max-width: 620px;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  flex: 1 0 0;
}

.button {
  color: white;
  display: flex;
  padding: 24px 64px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #2d2d2d;
}

/* bagian logo */

.logo {
  display: flex;
  padding: 42px 68px;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  row-gap: 68px;
  align-self: stretch;
  flex-wrap: wrap;
  border: 5px salmon solid;
}

/*bagian skills */
.skills {
  display: flex;
  padding: 42px 24px;
  flex-direction: column;
  align-items: center;
  gap: 42px;
  align-self: stretch;
  border: 5px red solid;
}

.cards {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 24px;
  align-self: stretch;
  flex-wrap: wrap;
}

.gallery-card {
  display: flex;
  min-width: 320px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  flex: 1 0 0;
}

/* bagian skill */

.gallery {
  display: flex;
  padding: 42px 24px;
  flex-direction: column;
  align-items: center;
  gap: 42px;
  align-self: stretch;
  border: 5px red solid;
}

.cards {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 24px;
  align-self: stretch;
  flex-wrap: wrap;
}

.project {
  display: flex;
  min-width: 320px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
}

.title-project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

/* bagian testimonial */
.Testimonial {
  display: flex;
  padding: 42px 24px;
  flex-direction: column;
  align-items: center;
  gap: 42px;
  align-self: stretch;
  border: 5px red solid;
}

.card-testi {
  display: grid;
  padding: 24px 24px;
  gap: 42px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "Testimonial-card1 Testimonial-card2 Testimonial-card3"
    "Testimonial-card4 Testimonial-card5 Testimonial-card6";
  text-align: left !important;
  align-self: stretch;
  border: 5px blue solid;
}

.Testimonial-card {
  border: 3px black solid;
}

.client {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.contact {
  display: flex;
  padding: 42px 24px 86px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.conten-contact {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 42px 142px;
  align-self: stretch;
  flex-wrap: wrap;
}

.contact-info {
  display: flex;
  min-width: 320px;
  flex-direction: column;
  align-items: flex-start;
  gap: 42px;
  flex: 1 0 0;
}

.contact-form {
  display: flex;
  min-width: 320px;
  max-width: 520px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
}

.text1 {
  color: blueviolet;
  font-size: 50px;
}

.text2 {
  color: red;
  font-size: 40px;
}

.text3 {
  color: blue;
  font-size: 27px;
}

.input {
  width: 300px;
  height: 30px;
  padding: 10px;
}

h3 {
  color: aqua;
  font-family: Epilogue;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 27px;
  margin-bottom: 0%;
  line-height: 42px;
  letter-spacing: 0%;
  text-align: center;
}

.body-text {
  font-family: Epilogue;
font-weight: 400;
font-style: Regular;
font-size: 17px;
leading-trim: NONE;
line-height: 27px;
letter-spacing: 0%;

}

.subtile {font-family: Epilogue;
font-weight: 600;
font-style: SemiBold;
font-size: 20px;
leading-trim: NONE;
line-height: 30px;
letter-spacing: 0%;
}

h2{font-family: Epilogue;
font-weight: 600;
font-style: SemiBold;
font-size: 32px;
leading-trim: NONE;
line-height: 42px;
letter-spacing: 0%;
}